
@{
    ViewBag.Title = "ChangePasswd";
}


@if (@ViewBag.isError == false)
{ 

    <div class="callout callout-info">
        <h2>@ViewBag.title</h2>
        <p><h3>@ViewBag.message</h3></p>
    </div>

}
else
{

    <div class="callout callout-danger">
        <h2>@ViewBag.title</h2>
        <p><h3>@ViewBag.message</h3></p>
    </div>

}




