@model RCTPL_WebProjects.Models.StrViewModel
@{
    ViewBag.Title = "ChangePasswd";
}


@if (@Model.isError == false)
{ 

    <div class="callout callout-info">
        <h2>@Model.title</h2>
        <p><h3>@Model.message</h3></p>
    </div>

}
else
{

    <div class="callout callout-danger">
        <h2>@Model.title</h2>
        <p><h3>@Model.message</h3></p>
    </div>

}




