
@*@model RCTPL_WebProjects.Models.M_PAIP*@
@*@model RCTPL_WebProjects.Models.VehicleDB.VehicleDetail*@

@model RCTPL_WebProjects.Models.Rich.VehicleModel


@*@model RCTPL_WebProjects.Models.Rich.COCModel*@



<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!-- Load jQuery JS -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<!-- Load jQuery UI Main JS  -->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- Load SCRIPT.JS which will create datepicker for input field  -->
<script src="script.js"></script>

<link rel="stylesheet" href="runnable.css" />




<div class="row">
    <!--=======================================SEARCH VEHICLE AND REMINDERS============================================-->
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border bg-purple-gradient">
                <h3 class="box-title">Search Vehicle</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">

           <form action="/COC/" method="post">
               <div class="form-group">
                   <input class="form-control" type="text" placeholder="Plate Number" id="splate" name="splate" value="@Html.DisplayFor(model => model.plateno)" required style="text-transform:uppercase">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" placeholder="Chasis Number" id="schasis" name="schasis" style="text-transform:uppercase">
               </div>
               <div class="form-group">
                   <input class="form-control" type="text" placeholder="Engine Number" id="sengineNo" name="sengineNo" style="text-transform:uppercase">
               </div>
               <div class="form-group">
               
                   <input class="btn btn-block btn-info" type="submit" value="Search" />
               </div>

               <div class="form-group" style="text-align:center">
                   <label style="color:green; text-align:center"> @ViewBag.Success</label>
                   <label style="color:red; text-align:center"> @ViewBag.Message</label>
               </div>
           </form>

               

                </div><!-- /.box-body -->
        </div><!-- /.box -->

    <hr />
        <div class="box box-solid">
            <div class="box-header with-border bg-purple-gradient">
                <h3 class="box-title">Reminders</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <i class="fa fa-circle-o text-aqua"></i> <span> For Searching of Vehicle<br /><b>Plate</b> and <b>Chasis No.</b> are required or <b>Plate</b> and <b>Engine No.</b> </span>
                </div>

            <div class="form-group">
                <i class="fa fa-circle-o text-aqua"></i> <span> Initial Values for Assured TIN:<br />ex. <b>999999999999</b> </span>
            </div>
                <div class="form-group">
                    <i class="fa fa-circle-o text-aqua"></i> <span> Initial Values for Tax Type:<br />ex. <b>1</b> </span>
                </div>
               
            </div><!-- /.box-body -->
        </div>

    </div><!-- /.col -->
    <!--=======================================SEARCH VEHICLE============================================-->
  

    <!--=======================================POLICY DETAILS============================================-->
    <div class="col-md-9">
        <div class="box box-solid">
            <div class="box-header with-border bg-green-gradient">
                <h3 class="box-title">Policy Details</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">    

                @*<form action="/COC/COCSubmit/" method="post" role="form">*@
                <form action="/COC/COCSubmit/" method="post" role="form">
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Transaction Type</label>
                            <select class="form-control" id="transtype" name="transtype" required>
                                <option value="" disabled selected style="color:RED">Select Transaction Type</option>
                                <option value="1">NEW</option>
                                <option value="2">RENEW</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input class="form-control" type="text" placeholder="Complete Name" id="PALNAME" name="PALNAME" required style="text-transform:uppercase">

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input class="form-control" type="text" placeholder=" Mailing Address" id="PAADDRESS" name="PAADDRESS" required style="text-transform:uppercase">
                        </div>
                        <input hidden value="@Html.DisplayFor(model => model.papin)" id="papinNo" name="papinNo" readonly />                  
                       <div class="form-group">
                            <label for="exampleInputEmail1">Business Profession</label>
                           <input class="form-control" type="text" placeholder="Business Profession" id="BUS_PROF" name="BUS_PROF" style="text-transform:uppercase">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">MV Type</label>
                            <select class="form-control" id="MV_TYPE" name="MV_TYPE" required>
                                <option value="" disabled selected style="color:RED">Select MV Type</option>
                                <option value="C">CAR</option>
                                <option value="LE">LIGHT ELECTRIC VEHICLE</option>
                                <option value="MO">MOPEDS (0-49sec)</option>
                                <option value="MS">MOTORCYCLE WITH SIDECAR</option>
                                <option value="M">MOTORCYCLE WITHOUT SIDECAR</option>
                                <option value="NC">NON CONVENTIONAL MC (CAR)</option>
                                <option value="NV">NON CONVENTIONAL MV (UV)</option>
                                <option value="SB">SCHOOL BUS</option>
                                <option value="HB">SHUTTLE BUS</option>
                                <option value="SV">SPORTS UTILITY VEHICLE</option>
                                <option value="OB">TOURIST BUS</option>
                                <option value="TL">TRAILER</option>
                                <option value="TC">TRICYCLE</option>
                                <option value="TK">TRUCK</option>
                                <option value="TB">TRUCK BUS</option>
                                <option value="UV">UTILITY VEHICLE</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehicle</label>
                            <select class="form-control" id="VEHICLE_TYPE" name="VEHICLE_TYPE" required>
                                <option value="" disabled selected style="color:RED">Select Vehicle</option>
                                <option value="" disabled style="color:blue">1 YEAR</option>
                                <option value="1">Private Cars (Including Jeeps & Utility Vehicles (1 YR COVERAGE)</option>
                                <option value="2">Light/Medium Trucks (Own Goods) Not over 3,930 kgs (1 YR COVERAGE)</option>
                                <option value="3">Heavy Trucks (Own Goods) and  Private Buses over 3,930 kgs (1 YR COVERAGE)</option>
                                <option value="4">AC and Tourist Cars (1 YR COVERAGE)</option>
                                <option value="5">Taxi, PUJ and Mini Bus (1 YR COVERAGE)</option>
                                <option value="6">PUB and Tourists Bus (1 YR COVERAGE)</option>                              
                                <option value="" disabled style="color:blue">3 YEARS</option>
                                <option value="7">Motorcycles/Tricycles/Trailers (3 YR COVERAGE)</option>
                                <option value="8">Private Cars (Including Jeeps & Utility Vehicles (3 YR COVERAGE)</option>
                                <option value="9">Light/Medium Trucks (Own Goods) Not over 3,930 kgs (3 YR COVERAGE)</option>
                                <option value="10">Heavy Trucks (Own Goods) and  Private Buses over 3,930 kgs (3 YR COVERAGE)</option>
                                <option value="11">AC and Tourist Cars (3 YR COVERAGE)</option>
                                <option value="12">Taxi, PUJ and Mini Bus (3 YR COVERAGE)</option>
                                <option value="13">PUB and Tourists Bus (3 YR COVERAGE)</option>
                                <option value="14">Motorcycles/Tricycles/Trailers (3 YR COVERAGE)</option>                               
                            </select>
                        </div>

                        @*<div class="form-group">
                            <label for="exampleInputEmail1">Type of Service</label>
                            <select class="form-control" id="SERVICE_TYPE" name="SERVICE_TYPE" required>
                                <option value="" disabled selected style="color:RED">Select Type of Service</option>
                                <option value="TOS001">AC</option>
                                <option value="TOS015">FILCAB</option>
                                <option value="TOS016">GT EXPRESS</option>
                                <option value="TOS005">MINI BUS</option>
                                <option value="TOS006">PUB</option>
                                <option value="TOS002">PUJ</option>
                                <option value="TOS011">SCHOOL BUS</option>
                                <option value="TOS018">SCHOOL TRANSPORT VEHICLE</option>
                                <option value="TOS012">SHUTTLE BUS</option>
                                <option value="TOS019">SHUTTLE SERVICE</option>
                                <option value="TOS003">TAXI</option>
                                <option value="TOS007">TOURIST BUS</option>
                                <option value="TOS004">TOURIST CAR</option>
                                <option value="TOS014">TOURIST TRANSPORT SERVICE</option>
                                <option value="TOS009">TRAILERS</option>
                                <option value="TOS008">TRICYCLE</option>
                                <option value="TOS010">TRUCKS</option>
                                <option value="TOS017">UV EXPRESS</option>
                                <option value="TOS013">VEHICLE FOR HIRE</option>
                            </select>
                        </div>*@

                        <div class="form-group">
                            <label for="exampleInputEmail1">Assured TIN</label>
                            <input class="form-control" type="text" maxlength="12" placeholder="Assured TIN" id="ASSURED_TIN" name="ASSURED_TIN" required style="text-transform:uppercase">
                        </div>


                        <div class="form-group">
                            <label for="exampleInputEmail1">Place Issued</label>
                            <input class="form-control" type="text" placeholder="Place Issued" id="PLACE_ISSUED" name="PLACE_ISSUED" value="@Session["LoggedRegion"].ToString()" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Plate Number</label>
                            <input class="form-control" type="text" maxlength="7" placeholder="Plate Number" id="PLATE_NO" name="PLATE_NO" oninput="get_insureddate()" required style="text-transform:uppercase">
                        </div>


                        <div class="form-group">
                            <label for="exampleInputEmail1">Insured Period Start</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                <input class="form-control" type="text" placeholder="mm/dd/yyyy" id="INSURED_FROM" name="INSURED_FROM" required style="text-transform:uppercase">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Insured Period End</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                <input class="form-control" type="text" placeholder="mm/dd/yyyy" id="INSURED_TO" name="INSURED_TO" required style="text-transform:uppercase">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <input type="checkbox"  id="chk_InsuredPeriod" name="chk_InsuredPeriod" > Edit Insured Period
                        </div>*@


                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehicle Classification</label>
                            <select class="form-control" id="VEHICLE_CLASS" name="VEHICLE_CLASS" required>
                                <option value="" disabled selected style="color:RED">Vehicle Class</option>
                                <option value="PV">Private Vehicle (PV)</option>
                                <option value="CV">Commercial Vehicle (CV)</option>
                                <option value="MC">Motorcycle (MC)</option>
                                <option value="LTO">LTO</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Type of Body</label>
                            <input class="form-control" type="text" placeholder="Type of Body" value="" id="TYPE_BODY" name="TYPE_BODY" required style="text-transform:uppercase">                        
                        </div>

                    </div>

                    <div class="col-md-6">
                  
                        <div class="form-group">
                            <label for="exampleInputEmail1">Chasis Number</label>
                            <input class="form-control" type="text" placeholder="Chasis Number" value="@Html.DisplayFor(model => model.chasisno)" id="SERIAL_NO" name="SERIAL_NO" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Engine Number</label>
                            <input class="form-control" type="text" placeholder="Engine Number" value="@Html.DisplayFor(model => model.engineno)" id="MOTOR_NO" name="MOTOR_NO" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Year Model</label>
                            <input class="form-control" type="text" placeholder="Year Model" value="@Html.DisplayFor(model => model.yearmodel)" id="MODEL_YR" name="MODEL_YR" required style="text-transform:uppercase">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Make</label>
                            <input class="form-control" type="text" placeholder="Make" value="@Html.DisplayFor(model => model.make)" id="MAKE" name="MAKE" required style="text-transform:uppercase">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Series</label>
                            <input class="form-control" type="text" placeholder="Series" value="@Html.DisplayFor(model => model.series)" id="SERIES" name="SERIES" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Color</label>
                            <input class="form-control" type="text" placeholder="Color" value="@Html.DisplayFor(model => model.color)" id="COLOR" name="COLOR" required style="text-transform:uppercase">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Unladed Weight</label>
                            <input class="form-control" type="text" placeholder="Unladed Weight" value="@Html.DisplayFor(model => model.unladed_weight)" id="UN_WEIGHT" name="UN_WEIGHT" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Seating Capacity</label>
                            <input class="form-control" type="text" placeholder="Seating Capacity" id="SEATING_CAPACITY" name="SEATING_CAPACITY" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">MV File</label>
                            <input class="form-control" type="text" placeholder="MV File Number" value="@Html.DisplayFor(model => model.mvfile)" id="MV_FILENO" name="MV_FILENO" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Fuel</label>                         
                            <select class="form-control" id="FUEL" name="FUEL" required>
                                <option value="" disabled selected style="color:RED">Select FUEL Type</option>
                                <option>GAS</option>
                                <option>DIESEL</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Branch</label>
                            <input class="form-control" type="text" placeholder="BRANCH" value="" id="BRANCH" name="BRANCH" required style="text-transform:uppercase">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Fleet</label>
                            <input class="form-control" type="text" placeholder="FLEET" value="" id="FLEET" name="FLEET" required style="text-transform:uppercase">
                        </div>
                    </div>

                    <div class="col-md-3 pull-right">
                        <div class="form-group">
                            <br />                      
                            <button class="form-control btn btn-block btn-info margin">Submit</button>
                        </div>

                    </div>






                </form>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <!--======================================POLICY DETAILS============================================-->

</div><!-- /.row -->


<script>

    function get_insureddate()
    {
        var word = document.getElementById("PLATE_NO").value;//by id     
        var vehicle = document.getElementById("VEHICLE_TYPE").value;//by id        
        var stringLength = word.length;     
        var lastc = word.charAt(stringLength - 1);

        var datefrom = document.getElementById("INSURED_FROM");
        var dateto = document.getElementById("INSURED_TO");
      
        if (stringLength > 0) { 


            var d = new Date();
            var nd = new Date();

            if (vehicle >= 1 && vehicle <= 6) {
                nd.setFullYear(nd.getFullYear() + 1)
            } else if (vehicle >= 7 && vehicle <= 14) {
                nd.setFullYear(nd.getFullYear() + 3)
            }

            var myyear = d.getFullYear();
            var nyear = nd.getFullYear();

       
            if (lastc == 1) {

                datefrom.value = '2/1/' + myyear;
                dateto.value = '2/1/' + nyear;
            } else if (lastc == 2) {
                datefrom.value = '3/1/' + myyear;
                dateto.value = '3/1/' + nyear;
            } else if (lastc == 3) {
                datefrom.value = '4/1/' + myyear;
                dateto.value = '4/1/' + nyear;
            } else if (lastc == 4) {
                datefrom.value = '5/1/' + myyear;
                dateto.value = '5/1/' + nyear;
            } else if (lastc == 5) {
                datefrom.value = '6/1/' + myyear;
                dateto.value = '6/1/' + nyear;
            } else if (lastc == 6) {
                datefrom.value = '7/1/' + myyear;
                dateto.value = '7/1/' + nyear;
            } else if (lastc == 7) {
                datefrom.value = '8/1/' + myyear;
                dateto.value = '8/1/' + nyear;
            } else if (lastc == 8) {
                datefrom.value = '9/1/' + myyear;
                dateto.value = '9/1/' + nyear;
            } else if (lastc == 9) {
                datefrom.value = '10/1/' + myyear;
                dateto.value = '10/1/' + nyear;
            } else if (lastc == 0) {
                datefrom.value = '1/1/' + myyear;
                dateto.value = '1/1/' + nyear;
            }


        } else {
            datefrom.value = "";
            dateto.value =""
        }


     
    }

    function enable_datepicker()
    {

        var checker = document.getElementById('chk_InsuredPeriod');
        var dtefrom = document.getElementById('INSURED_FROM');
        var dteto = document.getElementById('INSURED_TO');
        checker.onchange = function () {
            dtefrom.disabled = !!this.checked;
            dteto.disabled = !!this.checked;
        };

     

    }

    $('#chk_InsuredPeriod').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

            $('#INSURED_FROM').removeAttr('disabled'); //enable input
            $('#INSURED_TO').removeAttr('disabled'); //enable input


        } else {
         
            $('#INSURED_FROM').attr('disabled', true); //disable input
            $('#INSURED_TO').attr('disabled', true); //disable input

        }
    });

</script>

<script>    
    $(document).ready(

      /* This is the function that will get executed after the DOM is fully loaded */
      function () {
          $("#INSURED_FROM").datepicker({
              changeMonth: true,//this option for allowing user to select month
              changeYear: true //this option for allowing user to select from year range
          });

          $("#INSURED_TO").datepicker({
              changeMonth: true,//this option for allowing user to select month
              changeYear: true //this option for allowing user to select from year range
          });
      }




    );
</script>