@model RCTPL_WebProjects.Models.TBL_SYSTEMUSERS

@{
    ViewBag.Title = "MyAction";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>System user details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACT_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACT_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAILING_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAILING_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_REGISTERED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_REGISTERED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGISTERED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGISTERED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ADMIN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
