@model IEnumerable<RCTPL_WebProjects.Models.TransactionHistoryModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//cdn.muicss.com/mui-0.2.1/css/mui.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.muicss.com/mui-0.2.1/js/mui.min.js"></script>

<h2>Transaction History</h2>

<div>
    <table class="mui-table mui-table--bordered table-hover">
        <tr>
            <td>Transaction Reference</td>
            <td>Plate</td>
            <td>Name</td>
            <td>Date</td>
            <td>Vehicle Make</td>
            <td>Total Amount</td>
            <td>Paid/Not Paid</td>
            <td>Date Paid</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.REF_NUM)</td>
                <td>@Html.DisplayFor(modelItem => item.PLATE_NO)</td>
                <td>@Html.DisplayFor(modelItem => item.FULLNAME)</td>
                <td>@Html.DisplayFor(modelItem => item.BCHDTE)</td>
                <td>@Html.DisplayFor(modelItem => item.MAKE)</td>
                <td>@Html.DisplayFor(modelItem => item.BCDPATCOVER)</td>
                <td>@Html.DisplayFor(modelItem => item.COLORNUM)</td>
                <td>@Html.DisplayFor(modelItem => item.DATEPAID)</td>
                <td>
                    @Html.ActionLink("Pay", "PayNow", new { REF_NUM = item.REF_NUM }, new { @class = "mui-btn mui-btn--raised mui-btn--danger" })
                    @Html.ActionLink("Print", "PrintCOC", "COC", new { REF_NUM = item.REF_NUM }, new { @class = "mui-btn mui-btn--raised mui-btn--primary", @target = "_blank" })
                </td>
            </tr>

        }

    </table>
</div>
