@model IEnumerable<RCTPL_WebProjects.Models.TransactionHistoryModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//cdn.muicss.com/mui-0.2.1/css/mui.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.muicss.com/mui-0.2.1/js/mui.min.js"></script>

<div class="mui--divider-bottom">
    @*test*@
    <h1>Search Transaction</h1>

    <form class="mui-form--inline" method="get" action="@Url.Action("SearchPlate", "TransactionHistory", "TransactionHistory")">
        <div class="mui-textfield">
            <input type="text" name="plateSearch" @*id="search"*@ placeholder="Input Plate Number" />
        </div>
        <button class="mui-btn mui-btn--raised" type="submit">Search</button>
    </form>

    <br />

</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Transaction History</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead style="background:#19a565">
                <tr>
                    <th>Transaction Reference</th>
                    <th>Plate</th>
                    @*<th>Name</th>*@
                    <th>Date</th>
                    <th>Vehicle Make</th>
                    <th>Total Amount</th>
                    <th>OR Number</th>
                    @*<th>Date Paid</th>*@
                    <th></th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.REF_NUM)</td>
                        <td>@Html.DisplayFor(modelItem => item.PLATE_NO)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.FULLNAME)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.BCHDTE)</td>
                        <td>@Html.DisplayFor(modelItem => item.MAKE)</td>
                        <td>@Html.DisplayFor(modelItem => item.BCDPATCOVER)</td>
                        <td>@Html.DisplayFor(modelItem => item.COLORNUM)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.DATEPAID)</td>*@
                        <td>

                            @Html.ActionLink("Print Reference", "PrintCOC", "COC", new { REF_NUM = item.REF_NUM }, new { @class = "btn btn-primary", @target = "_blank" })

                            @{
                    if (String.IsNullOrEmpty(item.COLORNUM))
                    {
                        @Html.ActionLink("Payment", "ClientPayments", "COC", new { REF_NUM = item.REF_NUM }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Print OR", "PrintOR", "Payment", new { _orNo = item.COLORNUM, stat = "1" }, new { @class = "btn btn-success", @target = "_blank" })
                        @Html.ActionLink("Print Policy", "PrintLTO", "PrintPolicy", new { tCOI = item.COI }, new { @class = "btn btn-info" })
                        //@Html.ActionLink("Paid", "PayNow", new { REF_NUM = item.REF_NUM }, new { @class = "mui-btn mui-btn--raised mui-btn--danger", onclick = "javascript:return false;" })*@
                    }
                            }


                        </td>
                        <td>
                            @{
                    if (String.IsNullOrEmpty(item.COLORNUM))
                    {
                        <p style="color:red">Unpaid</p>
                    }
                    else
                    {
                        <p style="color:green">Paid</p>
                    }
                            }
                        </td>
                    </tr>

                }
            </tbody>

            @*test checkin*@

            <tfoot>
                <tr>
                    <th>Transaction Reference</th>
                    <th>Plate</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Vehicle Make</th>
                    <th>Total Amount</th>
                    <th>Paid/Not Paid</th>
                    <th>Date Paid</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- jQuery 2.1.4 -->
<script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>

